.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px; 
}

.experiencia .subtitulo {
  color: #E0E0E0;
}

.experiencia-texto {
  font-size: 1.87rem;
  line-height: 1.33;
  max-width: 50ch;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #525252;  
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px 100px;
  padding: 20px;
  background-color: #F5F5F5;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#7FD9F0, #F99FB3);
  position: absolute;
  top: 20px;
  left: -4px;
}

.empresa-ano {
  position: absolute;
  top: 22px;
  left: -100px;
  color: #525252;
  font-size: 0.875rem;
  width: 80px;
  text-align: right;
  
}

.empresa-titulo {
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: bold;
  color: #141414;  
}

.empresa-texto {
  margin-top: 4px;
  font-size: 1rem;
  color: #525252;
  line-height: 1.5;
}

.empresa-habilidades {
  margin-top: 10px;
  display: grid;
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
  grid-template-columns: 140px 140px;
}

.empresa-habilidades li {
  font-size: 12px;
  text-transform: uppercase;
  color: #141414;
  line-height: 1.4;
  border-radius: 4px;
  background-color: #fff;
  padding: 10px 5px;
  text-align: center;
}

/* ========================= RESPONSIVIDADE ================================*/
@media (max-width: 1000px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial;
    order: 1;
    width: initial;
    text-align: left; 
  }
}
